* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
 
  
}



.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}


.navbar {

  list-style-type: none;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom: 3px solid rgb(197, 185, 185);

}

.menu-link {
  text-decoration: none;
  color: orange ;
  font-size: 1.2rem;
  padding-right: 30px;
}



.productos {
  display: grid;
  color: black;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-block: 2rem;
  background-color: rgba(240, 151, 18, 0.452);
  background: linear-gradient(90deg,rgba(255, 166, 0, 0.87) 26%, rgba(209, 101, 0, 0.822) 54%, rgb(255, 145, 0) 80%);;

}

.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  justify-items: center;
  align-items: center;
}

.detailProductos{
  padding: 30px;
}

h2 {
  color: rgb(255, 94, 1);
  display: flex;
  justify-content: center;
  font-size: medium
}

.producto > img {
  justify-content: center;
  width: 50%;
  aspect-ratio: 2/1;
  object-fit: cover;
  justify-items: center;
  transition:all .5s ease-in-out;
 
}


.img:hover {filter: saturate(180%);}

.producto-detalle {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  justify-items: center;
}

.buttonCart {
  background-color: rgb(245, 135, 10);
  color: whitesmoke;
  padding: 10px;

}


.detailHome {
  display: grid;
  grid-template-columns: (2fr , 1fr);
}


