* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar {
  list-style-type: none;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 3px solid rgb(197, 185, 185);
  
}

.menu-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.productos {
  display: grid;
  color: black;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-block: 2rem;
  background-color: rgb(162, 212, 164);
  background: linear-gradient(90deg,rgb(154, 218, 159) 26%, rgb(13, 156, 97) 54%, rgba(98, 202, 103, 0.67) 80%);;

}

.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}

