* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar {
  list-style-type: none;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  border-bottom: 3px solid black;
  
}

.menu-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.productos {
  display: grid;
  color: black;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-block: 2rem;
  background-color: rgb(249,249,249);
  background: linear-gradient(90deg,white 26%, rgba(244,138,46,1) 54%, rgba(246,0,0,0.6699054621848739) 80%);;

}

.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}



