:root {
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500; 
  text-decoration: inherit;
  
}


a:hover {
  color: black;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffaf19;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  background-color: rgba(255, 136, 0, 0.808);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: black;
  border-radius: 50px;
  
}

.ver-mas {
  padding: 10px;
  background-color: rgb(185, 211, 186);
  border-radius: 10px;
  color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #a85f0a;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.producto .ver-mas:hover {
  background-color: rgba(253, 93, 0, 0.295);
  color: white;
}

.container {
  max-width: 1140px;
  padding-inline: 1.5rem;
  margin: 0 auto; 
  display: grid;
  color: white;
  gap: 2rem;
  padding-block: 2rem;
  background-color: rgba(231, 127, 8, 0.397);
  background: linear-gradient(90deg,rgb(243, 170, 33) 26%, rgba(255, 103, 2, 0.445) 54%, rgba(228, 131, 41, 0.527) 80%);
}


.detailHome {
  padding-top: 10px;
  color: rgb(255, 110, 27);
  background-color: rgba(128, 128, 128, 0.247);
  font-family: 'Prompt', sans-serif;
  
}

.buttonCount {
  padding: 15px;
  color: black;
  border: 1px solid transparent;
  

}
.agregar-al-carrito {
  padding: 5px;
  border-radius: black;
}

